* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    background: $gradient;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}